body {
    background-color: #f0f2f5;
    justify-content: center;
    align-items: center;
    display: flex;
}
img {
    height: 110px;
    margin: -30px;
    margin-top: 0;
}
form {
    margin-top: 20px;
    box-shadow: 0 4px 8px #b6b6b6;
    width: 370px;
    background-color: #ffffff;
    padding: 15px 16px 28px;
    border-radius: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.direita {
    padding-top: 18vh;
}
.esquerda {
    font-family: Helvetica, Arial, sans-serif;
    padding-right: 14vh;
}
h2 {
    font-size: 1.8rem;
    line-height: 32px;
    width: 83vh;
    color: #1c1e21;
    margin-top: 3vh;
    font-weight: normal;
}
input {
    box-sizing: border-box;
    font-size: 17px;
    width: 100%;
    margin-bottom: 11px;  
    padding: 15px 16px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
}
input:focus {
    outline: 1px solid #3c8bf1;
    outline-offset: -1px;
    box-shadow: 0 0 5px #4c97fa;
}
button {
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 300ms;
}
.entrar {
    width: 100%;
    background-color: #1877f2;
    height: 48px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 16px;
}
.entrar:hover {
    background-color: #156bdb;
}
.criar {
    padding: 0 14px;
    margin-top: 24px;
    background-color: #42b72a;
    height: 48px;
    font-size: 17px;
}
.criar:hover {
    background-color: #399c25;
}
a {
    cursor: pointer;
    text-decoration: none;
}
.a {
    color: #1877f2;
    font-size: 14px;
}
.a:focus {
    text-decoration: underline;
}
.divisoria {
    padding-top: 20px;
    border-bottom: 1px solid #dadde1;
}
p {
    margin-top: 30px;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    color: #1c1e21;
    font-size: 14px;
    width: 420px;
    text-align: center;
}
.a2{
    color: #1c1e21;
    font-weight: bold;
}
.a2:hover {
    text-decoration: underline;
}